<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{# Add restaurant option #}
	<a href="{{url_for('newRestaurant')}}" class='icons'><span class="glyphicon glyphicon-plus"></span></a>


	<link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles.css')}}">
	<meta charset="UTF-8">
	<title>Restaurants</title>
<div class='header'>	
	<h1>Restaurants</h1>
</div>
</head>
<body>
<div class='flash'>
	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        	{% for message in messages %}
	        		<li><strong>{{message}}</strong></li>
	        	{% endfor %}
	    	</ul>
	    {% endif %}
	{% endwith %}
</div>

	
	 
	{% if restaurants  %}
	{% for restaurant in restaurants %}
<div class='pane'>
		<a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}"><h3>{{restaurant.name}}</h3></a>
		
		<a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}} " class='icons'><span class='glyphicon glyphicon-edit'></span></a>
		<a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" class='icons'><span class='glyphicon glyphicon-remove-circle'></span></a>
</div>	
	{% endfor %}
	{% else %}
		<p>There is no restaurants, try add new.</p>
	{% endif %}


{# <script src="jquery.js"></script>
    <script>
 
    $( document ).ready(function() {
        $( "a" ).click(function( event ) {
            alert( "The link will no longer take you to jquery.com" );
            event.preventDefault();
        });
    });
    </script>
 #}
    
</body>
</html>