body            {
	font-family: sans-serif;
	background-image: url('footer_lodyas.png');
	background-color: #333333
}
h1, h2, h3, h4       { color: #FFFFFF; }
h1, h2 { font-family: 'Georgia', serif;
	margin: 0;
}
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }

p, dd, dt { color: #CCCCCC;}

a {
	text-decoration: none; 
	color:#FFFFCC; 
	font-size: .75em;
}

.pane {
	/*position:absolute; */
	/*float: right;*/
	display:inline-block;
	border: 2px solid;
    border-radius: 25px; 
    padding: 10px; 
    margin: 10px; 
    border-color: #999999; 
    background-color: #333333;
    width: 45%;
    background-image: url('stardust_@2X.png');  

}
.menuitems {
	/*display:inline-block;*/
	
	border: 2px solid;
    border-radius: 25px; 
    padding: 10px; 
    margin: auto;
    margin-top: 10px; 
    border-color: #999999; 
    background-color: #333333;
    width: 70%;
    background-image: url('stardust_@2X.png'); 
}
.spec_items {
	border-top: solid 1px white;
}
.flash          { background: #cee5F5; }
.icons {
	float:right;
	padding: 2px;
	font-size: 1.5em;
	/*margin-top: -30px;*/
}
.icons_items {
	float:right;
	padding: 2px;
	font-size: 1.5em;
	margin-top: -30px;
}

.header {left:50%; text-align: center;}

.edit_restaurant, .new_restaurant, 
.delete_restaurant, .new_item,
.edit_item, .delete_item  {
	border: 2px solid;
	border-radius: 30px; 
	padding: 40px;
	padding-left: 10%; 
    margin: auto;
    margin-top: 10%;
    width: 30%;
    border-color: #999999; 
    background-image: url('dark_embroidery.png'); 
    
}



input[type="text"] {
    width: 200px;
}
input[name='description'] {
	height: 30px;
}
#cancel_submit {
	margin-left: 40px;

}
#cancel_submit a {
	/*float:right;*/
	/*padding-left: 50px;*/
	margin-left: 50px;

}


/*.name {
	width:50%;
	display: inline-block; 
	float: left;}

.description {}

.price {text-align: right; width:50%; float: right; }

.editdeletepane{}*/